/* APP */
#app {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #f6f7f8;
  overflow-y: hidden;
  overflow-x: auto;
}

/* Setup */
h2, h3, p, a, div {
  font-family: 'Lato', sans-serif;
}

/* Layout */
.m-wrapper {
  width: 900px;
  margin: auto;
}

.m-page-title {
  font-size: 40px;
  font-weight: normal;
}

/* LoadingSpinner */
.m-loding-spinner {
  position: absolute;
  font-size: 0;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .m-loding-spinner__inner {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
    .m-loding-spinner__dot {
      position: absolute;
      display: block;
      height: 15px;
      width: 15px;
      background: #7ad9af;
      border-radius: 50%;
      top: 0px;
    }
    .m-loding-spinner__dot:nth-child(1) {
      left: -25px;
      animation: bounce 1s ease-in-out infinite;
    }

    .m-loding-spinner__dot:nth-child(2) {
      animation: bounce 1s ease-in 0.33s infinite
    }

    .m-loding-spinner__dot:nth-child(3) {
      left: 25px;
      animation: bounce 1s ease-in-out 0.66s infinite
    }

    @keyframes bounce {
      0%, 75%, 100% {
        transform: translateY(0px)
      }
      25% {
        transform: translateY(-10px)
      }
    }

/* PlayerList */
.m-player-list {
  display: block;
}

  .m-player-list__action {
    display: block;
    text-align: right;
    padding: 20px 0;
  }

    .m-player-list__button {
      display: inline-block;
      cursor: pointer;
      background-color: #7ad9af;
      border-radius: 6px;
      text-transform: uppercase;
      color: #fff;
      padding: 15px 20px;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 2px;
      transition: ease-in-out background-color 0.15s;
    }
    .m-player-list__button:hover {
      background-color: #90e9c6;
    }

/* PlayerListItem */
.m-player-list-item {
  display: block;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 4px 15px rgba(0,0,0,.15);
}
.m-player-list-item:last-child {
  margin-bottom: 0;
}

  .m-player-list-item__inner {
    padding: 20px;
  }

    .m-player-list-item__section {
      display: block;
    }

      .m-player-list-item__text {
        display: inline-block;
        margin: 0;
        margin-left: 10px;
        margin-bottom: 20px;
        font-size: 24px;
        color: #555;
      }

      .m-player-list-item__text_name {
        font-weight: bold;
        margin-left: 0;
        color: #000;
      }

      .m-player-list-item__text_team {
        font-weight: 900;
        margin-left: 0;
        color: #333;
      }

    .m-player-list-item__actions {
      display: block;
      overflow: auto;
    }

      .m-player-list-item__buttons {
        display: block;
        float: right;
      }

        .m-player-list-item__button {
          display: inline-block;
          cursor: pointer;
          background-color: transparent;
          border: 2px solid #4a4a4a;
          border-radius: 6px;
          text-transform: uppercase;
          color: #4a4a4a;
          padding: 5px 10px;
          font-size: 10px;
          font-weight: 800;
          letter-spacing: 2px;
          transition: ease-in-out color 0.15s, ease-in-out background-color 0.15s, ease-in-out border-color 0.15s;
        }
        .m-player-list-item__button:hover {
          background-color: #4a4a4a;
          color: #fff;
        }
        .m-player-list-item__button.is-disabled {
          cursor: not-allowed;
          background-color: transparent;
          color: #4a4a4a;
        }

        .m-player-list-item__button_edit {
          margin-left: 10px;
          background-color: #4a4a4a;
          color: #fff;
        }
        .m-player-list-item__button_edit:hover {
          background-color: #898989;
          border-color: #898989;
        }

        .m-player-list-item__button_comment {
          border-color: #f2677c;
          color: #f2677c;
        }
        .m-player-list-item__button_comment:hover {
          background-color: #f2677c;
          color: #fff;
        }

/* React Transition Group */
.list-transition-enter {
  opacity: 0.01;
}
.list-transition-enter.list-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.list-transition-leave {
  opacity: 1;
}
.list-transition-leave.list-transition-leave-active{
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
